@use 'src/styles/vars';
.container-input{
 
  background-color: rgba(223, 220, 220, 0.61);
  padding:vars.$gutter;
  border: vars.$border;
  border-radius: vars.$border-radius;


  p{
    font-size: small;
  }
}
