.app{
margin:0;
padding: 0;
box-sizing:boder-box;
height: 100%;
width:100%;
background:linear-gradient(-45deg, #6fc7b5 0%, #13bdce 20%, #0094d9 40%, #5a3694 60%, #ee4d74 80%, #f58c58 100%) no-repeat center fixed;

background-size: cover;

/* animation: bg 20s linear infinite;
 */
}
/* @keyframes bg {
  50% {
    background-position: 100% 0%;
  }
} */
.header{
  position:relative;
  z-index:0;
}
.menu{
  position:fixed;
  z-index:1;
  width:100%;

}
 
@media(min-width:992px){
  

 .page{
  width:60%;
  margin:0 auto;
  height:100%;
}
}

