
@use 'src/styles/vars';
.date{

  color:coral;
  font-weight: bold;
  width:86%;
  font-size: 1rem;
  margin:vars.$gutter;
  position:relative;

 position:relative;
  background-color:rgba(34, 34, 37, 0.233);
  box-shadow: 0 8px 32px 0 rgba(18, 27, 145, 0.37);
  padding:2%;
}   
.line-title{
  border-top: 3px solid coral;
  display:block;
  width:80%;
  height:2px;
  background: #000;
  position:absolute;
  
  top:80%;
}
  

.content-periode{
  display:flex;
.content-description{
  align-self:center;
  color:white;
  background-color:rgba(70, 70, 77, 0.233);
  box-shadow: 0 8px 32px 0 rgba(18, 27, 145, 0.37);
  padding:2%;
}
.connector{
  margin:15%;
}
.connector2{
  margin:15%;
}
}
@media(min-width:350px){
  .date{
   
    width:96%;
    font-size: 2rem;
    line-height:1.5em;

    

   }
}
