@use 'src/styles/vars';

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  font-weight: bold;
  border-radius: vars.$border-radius;
  background-color:rgba(197, 197, 211, 0.233);
  box-shadow: 0 8px 32px 0 rgba(18, 27, 145, 0.37);
  backdrop-filter: blur( 4.5px ); 
    -webkit-backdrop-filter: blur( 4.5px ); 
}
.nav-link{
 color:rgb(7, 7, 7);
 font-weight: bold;
}

#v-pills-tabContent{
  border-radius: vars.$border-radius;
  background-color:rgba(197, 197, 211, 0.233);
  box-shadow: 0 8px 32px 0 rgba(18, 27, 145, 0.37);
  backdrop-filter: blur( 4.5px ); 
    -webkit-backdrop-filter: blur( 4.5px ); 
  
  padding: 1% ;
  h3{
    padding: 2%;
  }
  ul{
    padding: 2%;
    .content-periode{
      
     
    }
  }
}
@media(max-width:300px){

}
@media(min-width:992px){
  
  

}
@media(min-width:768px){
  
   
  
  
}
