.image-react{
 
  position:absolute;
  top:57%;
  z-index:1;
  width:80px;
  height:auto;
  
    
    
  -webkit-animation: rotation 10s infinite linear;
  
  
  @-webkit-keyframes rotation {
      from {
          -webkit-transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(360deg);
      }
  }
  
}
#tsparticles{
  position:relative;
 /*  background: rgba( 0, 0, 0, 0.15 ); */
/*   background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,28,219,1) 48%, rgba(0,0,1,1) 100%); */
   height:15vh;
   background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );

}

.title-header{
  position:absolute;
  top:50%;
  left:22.5%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size:1em;
  z-index:1;
  text-decoration: underline;
  text-align:center;

}
@media(max-width:300px){
  .title-header{
    position:absolute;
    top:47%;
    left:22.5%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size:1em;
    z-index:1;
    text-decoration: underline;
    text-align:center;
  }
  #tsparticles{
   
     height:18vh;
  }
  
}
@media(min-width:768px){
  .title-header{
  
    
    position:absolute;
  top:50%;
  left:23%;
  font-size:1.5em;
  text-align:center;
  }
.image-react{
  width:115px;
  display:block;
  top:50%;
}
#tsparticles{
  position:relative;
  background:rgba(0, 0, 0, 0.438);
/*   background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,28,219,1) 48%, rgba(0,0,1,1) 100%); */
   height:20vh;
}

}
@media(min-width:992px){
  .title-header{
   
    font-size: 2em;
    position:absolute;
  top:50%;
  left:28%;
  text-align:center;
    
  }
  .image-react{
    width:150px;
    height:auto;
  }
}


