@font-face{
  font-family:"Monster mech";
  src:url("../../assets/fonts/monster_mech/Monster\ Mech.ttf");
}

.navbar{
  display:flex;
  justify-content: space-around;
  line-height:1em;
.image-header{
  display:flex;
  flex-direction:column;

  .image-github{
  width:15%;
  margin: 0 5px;
  &:hover{
    text-decoration: underline;
  }
}
.image-linkedin{
 width:15%;
 margin: 0 5px;
 &:hover{
  text-decoration: underline;
}
}
.account{
 color:white;
 font-style: italic;
 font-size: 0.8em;
 &:hover{
  text-decoration: underline;
}
} 
} 

.title-nav{
  color:white;
  font-size: 1em;
  font-family: "Monster mech";
  text-align: center;
  /* margin-left:4%; */
}

.burger{
  background-color:black;
  font-weight:bold;
  
}
.burger-menu{
    background:blue;
    text-align:right;
  }
.navbar-collapse{
  flex-grow: 0;
}
.navbar-brand {
  &:hover{
    text-decoration: underline;
  }
 
}
.btn {
  padding: .45rem 1.5rem .35rem;
  color: white;
  border: 1px solid black;
  background-color: rgba(36, 35, 35, 0.808);
}
}
.gradient-custom {
  /* fallback for old browsers */
  background: rgb(166,27,21);
  background: linear-gradient(153deg, rgba(0,46,255,0.7) 0%, rgba(9,48,224,0.7) 15%, rgba(1,0,18,0.7) 40%, rgba(1,0,18,0.7) 60%, rgba(9,48,224,0.7) 83%, rgba(0,46,255,0.7) 100%);
  
}
@media(max-width:300px){
  .image-react{
    width:30px;
    height:auto;
  }
  .navbar .title-nav{
   
    font-size: 0.6em;
    
  }
  
.burger{
  width: 45px;
  height:auto;
}
.navbar-toggler-icon{
  width:22px;
}
}
@media(min-width:992px){
  
  .navbar .title-nav{
   
    font-size: 2em;
    
  }
  .image-react {
    width: 225px;
    height: auto;
}

}
@media(min-width:768px){
  .image-react{
    width:210px;
    height:auto;
  }
  .navbar .title-nav{
   
    font-size: 1em;
    
  }
  
  
}
